{% extends 'base.html' %}
{% load static %}

{% block title %}
İletişim
{% endblock %}

{% block content %}
<div class="container py-4 my-5">
    <div class="row">
        <div class="col-md-10">
            <div class="contact-form bg-dark">
                <h1 class="text-white add-letter-space mb-5">İletişim</h1>
                <form method="POST" class="needs-validation" novalidate>
                    <div class="row">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in contactForm %}
                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <!--<input type="text" name="{{ field.name }}" class="form-control">-->
                            {{ field }}
                            {% endfor %}
                        </form>
                        <br><br><br><br><br><br>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-sm btn-primary">Mesajınızı Gönderin<img
                                    src="images/arrow-right.png" alt=""></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
